@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,500;0,600;0,700;1,500&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300&family=Roboto:wght@100;300;400&Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.bg-blue {
  background-color: #04bbc9; 
}

.bg-dark {
  background-color: #111820;
}

.bg-light {
  background-color: #f9f9f9;
}

.text-blue {
  color: #04bbc9;
}

.dark-text {
  color: #111820;
}

.light-text {
  color: #f9f9f9;
}

/* logo */
.logo-mobile {
  height: 20rem;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.logo-desktop {
    display: none;
  }

/* topnav */
.topnav a:not(.logo) {
  float: left;
  display: none;
  background-color:#f9f9f9;
  color: #111820;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.nav-items {
  padding: 0;
  margin: 0;
}

.topnav a:not(.logo):hover {
  background-color: #111820;
  color: #f9f9f9;
}

.topnav a.icon {
  float: right;
  display: block;
  margin-right: 3rem;
  top: 50%;
  margin-top: 7rem;
  }
  
.topnav.responsive {
  position: relative;
  }
  
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
  
.topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    }

.topnav.responsive a img {
  position: static;
}

/* home background image */
#home-img {
  height: 95vh;
  background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/science.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: -2;
}

.slogan {
  width: 25rem;
  height: auto;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-40%, -50%);
  text-align: center;
}

.slogan-text {
  font-family: "Barlow", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.job_search {
  width: 15rem;
  height: auto;
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-60%, -30%);
  text-align: center;
}

.filters {
  padding: 3rem;
}

.jobs_container {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 500;
  margin: 2rem;
  padding: 1.5rem;
  width: 20rem;
  height: auto;
  border-radius: 1rem;
}

.white_box {
  border:0.3rem solid #111820;
  box-shadow: 10px 5px 5px #04bbc9;
}

.dark_box {
  border:0.3rem solid #f9f9f9;
  box-shadow: 10px 5px 5px #04bbc9;
}

.job_header{
  font-weight: 900;
  font-size: 2.2rem;
}

.job_specifics {
  font-size: 1.5rem;
}

.popup_btn {
  padding: 1rem;
  box-shadow: 10px 5px 5px #111820;
  font-size: 1.5rem;
  border-radius: 5%;
  border: 0.1rem solid #f9f9f9;;
}

.popup_btn:hover {
  text-decoration: none;
  background-color: #111820;
  color: #04bbc9;
}

/* footer */
.footer-contact {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.footer-contact p {
    margin-top: .5rem;
}

/* css code for social media icon is copied and slightly changed from Resume Mini-Project */
.socialmedia i {
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    color: #04bbc9;
}

/* trick to remove underline on font awesome icon when hover: https://codepen.io/jessicalyschik/pen/MJrwwx */

.socialmedia i:before {
    display: inline-block;
    text-decoration: none;
}


/* media queries */

@media (min-width: 370px) {
  .slogan {
    width: 250px;
  }
}

@media (min-width: 768px) {
  .logo-mobile {
    display: none;
  }
  .logo-desktop {
    display: block;
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 100%;
  }
  .slogan {
    width: 300px;
  }
}
@media (min-width: 900px) {
    .logo-desktop {
      width: 900px;
      position: absolute;
      left: 50%;
      margin-left: -450px;
    }
    .nav-container {
      width: 900px;
      position: absolute;
      left: 50%;
      margin-left: -450px;
      top: 200px;
    }
    .nav-items {
      margin: auto;
      width: 60%;
    }
    /*.topnav {
      position: relative;
    }*/
    #myTopnav a {
      display: block;
    }
    #myTopnav a.icon {
    display: none;
  }
}