{% block footer %}
{% load static %}

<footer class="mt-3">
    <div class="container-fluid bg-grey">
        <div class="row footer-row text-center">
            <div class="col-12 footer-contact text-center d-sm-flex">
                <h5 class="text-uppercase">to Contact us:</h5>
            </div>
            <div class="col-12 footer-contact d-sm-flex">
                <p>083 103 0658</p>
            </div>
            <div class="col-12 footer-contact d-sm-flex">
                <p>victoria@gxprecruitment.ie</p>
            </div>
            <div class="col-12 footer-contact d-sm-flex pb-4">
                <a class="socialmedia" href="https://www.facebook.com/GxPRecruitmentTeam" target="_blank">
                <i class="fab fa-facebook-f"></i>
                <span class="sr-only">Facebook</span>
                </a>
            </div>
            <div class="col-12 footer-contact d-sm-flex">
                <a class="socialmedia" href="https://www.linkedin.com/company/gxp-recruitment/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
                <span class="sr-only">Linkedin</span>
                </a>
            </div>
        </div>
    </div>
</footer>

{% endblock %}